/*---------------------------------*/
/*-----------flex兼容写法-----------*/
/*Created by tigerHee on 2017/07/04*/
/*---------------------------------*/

/*flex容器*/
.flex {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
}
/*元素撑满剩余空间*/
.flex-1 {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
/*一行内容过多不换行*/
.flex-nowrap {
    -webkit-box-lines: single;
    -moz-box-lines: single;
    box-lines: single;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
/*一行内容过多换行*/
.flex-wrap {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
/*内容垂直排列*/
.flex-vertical {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -moz-flex-direction: column;
    flex-direction: column;
}
/*内容整体居中显示*/
.flex-center {
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
/*容器内容右侧靠齐*/
.flex-right {
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    align-items: center;
    box-pack: end;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
/*容器内容垂直居中*/
.flex-vertical-center {
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
/*容器内容水平居中*/
.flex-horizon-center {
    -webkit-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
/*水平两端对齐*/
.flex-space-between {
    -webkit-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
/*底部对齐*/
.flex-bottom {
    -webkit-box-align: end;
    -moz-box-align: end;
    box-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}
/*顶部对齐*/
.flex-top {
    -webkit-box-align: start;
    -moz-box-align: start;
    box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

/* 指标显示器字体，时间器字体 */
@font-face {
    font-family: 'timeFont';
    src: url('../font/timeFont/timeFont.ttf');
}

@font-face {
    font-family: 'number1';
    src: url('../font/numberFont/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'number2';
    src: url('../font/numberFont/FuturaStd-Heavy.otf');
}

@font-face {
    font-family: 'number3';
    src: url('../font/numberFont/NexaBold.otf');
}

@font-face {
    font-family: 'number4';
    src: url('../font/numberFont/RobotoSlab-Regular.ttf');
}