body {
  color: #cad6dd;
  background: #222739;
}
.ivu-modal-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ivu-select {
  width: 270px;
  font-size: 12px;
}
.flex-ve {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: 'vertical';
  flex-wrap: nowrap;
}
.ivu-select.ivu-select-single .ivu-select-selection {
  overflow: hidden;
  color: #50607c;
  border: none !important;
  background-color: transparent;
  border-radius: 3px;
  height: 28px;
  display: block;
  box-sizing: border-box;
  outline: 0;
  user-select: none;
  cursor: pointer;
  box-shadow: none;
}
.WuhouSinglePage .ivu-select.ivu-select-single  .ivu-select-selection {
  height: 40px;
  border: 1px solid #16DFF8 !important;
  .ivu-select-selected-value{
    font-size: 24px;
    height: 40px;
    line-height: 40px;
  }
}
.ivu-select-item {
  padding: 2px 16px;
}
.ivu-select-item.ivu-select-item-selected {
  background-color: #08c;
  color: #fff;
}
.ivu-select-item.ivu-select-item-focus {
    background-color: #08c;
    color: #fff;
}
.ivu-form .ivu-form-item.ivu-form-item-error{
    .ivu-form-item-error-tip{
        color: red;
    }
    input{
        border-color: #ff0000 !important;
    }
}
.ivu-modal-footer {
    .ivu-load-loop {
      display: none;
    }
    .ivu-btn-loading {
      pointer-events: auto;
      &::before {
        display: none;
      }
    }
  border: none;
  padding: 0 40px 20px 20px;
  overflow: hidden;
  .ivu-btn-text {
    background-color: #666f8b;
    // padding: 0 40px 20px 20px;
      font-size: 12px;
      border: none;
      padding: 5px 10px;
      min-width: 60px;
      height: 28px;
      border-radius: 3px;
      float: right;
      margin-left: 0;
    }
    .ivu-btn-primary {
      font-size: 12px;
      background-color: #5c8bff;
      margin-right: 10px;
      padding: 5px 10px;
      border: none;
      border-radius: 3px;
      min-width: 60px;
      height: 28px;
      float: right;
      font-weight: 10;
    }
  // }
}
.ivu-modal {
  top: 0px;
  height: fit-content;
}
.ivu-modal-close {
  top: 4px;
}
.ivu-modal-mask {
  background: rgba(0, 0, 0, 0.5);
}
.ivu-modal-wrap .ivu-modal .ivu-modal-content .ivu-modal-body {
    // padding: 20px 20px 10px 20px;
    padding: 20px 40px;
    overflow: auto;
    flex: 1;
    // margin-bottom: 20px;
    max-height: 550px;
    font-size: 14px;
    line-height: 1.5;
  }
.ivu-btn{
    border: none;
}
.ivu-modal-wrap .ivu-modal .ivu-modal-content {
  // border-radius: 0%;
  height: 100%;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border-radius: 6px;
}
.ivu-modal-wrap .ivu-modal .ivu-modal-content .ivu-modal-header {
  border: none;
  // border-radius: 6px;
}
.ivu-form .ivu-form-item {
  margin-bottom: 20px;
}
.ivu-form .ivu-form-item .ivu-form-item-label {
  width: 100px;
  font-size: 12px;
  height: 28px;
  line-height: 28px;
  padding: 0;
  text-align: right;
  vertical-align: middle;
  float: left;
  box-sizing: border-box;
}
.ivu-modal-header p,
.ivu-modal-header-inner {
  font-size: 12px;
  color: inherit;
  display: inline-block;
  width: 100%;
  height: 20px;
  line-height: 20px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.title-left-bg {
  margin-bottom: 20px;
}
.title-left-bg:before {
  margin-top: 3px !important;
  background-color: #08c;
  vertical-align: top;
  display: inline-block;
  width: 2px;
  height: 14px;
  line-height: 14px;
  margin: 0 7px;
  content: '' !important;
}
.ivu-form-item:after {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}
.ivu-form-item:after,
.ivu-form-item:before {
  content: '';
}
.ivu-modal-wrap
  .ivu-modal
  .ivu-modal-content
  .ivu-modal-header
  .ivu-modal-header-inner::before {
  display: inline-block;
  width: 2px;
  height: 14px;
  line-height: 14px;
  margin-right: 10px;
  background: #08c;
  content: '';
  vertical-align: middle;
  margin-top: -2px;
}
.ivu-form .ivu-form-item .ivu-form-item-content {
  font-size: 12px;
  margin-left: 120px;
  line-height: 28px;
}
.XiaLaShu{
  .ivu-select{
    .ivu-select-selected-value{
        font-size: 29px !important;
    }
    .ivu-icon{
      font-size: 29px !important;
    }
    .ivu-select-dropdown{
      top: 60px !important;
      left: 0px !important;
      max-height: 10000px;
      background-color: rgba(46, 73, 87, 0.288);
    }
    .ivu-select-item{
      font-size: 29px !important;
      color: rgb(255, 255, 255) !important;
    }
    .ivu-select-item.ivu-select-item-selected{
      background-color: rgba(0, 136, 204, 0.733);
      color: rgb(247, 247, 247) !important;
    }
    .ivu-select-item:hover{
      background-color: rgba(55, 163, 218, 0.288);
    }
  }
}
.NewHistogram{
  .ivu-select{
    .ivu-select-selected-value{
        font-size: 29px !important;
    }
    .ivu-select-dropdown{
      top: 60px !important;
      left: 0px !important;
      max-height: 10000px;
      background-color: rgba(46, 73, 87, 0.288);
    }
    .ivu-select-item{
      color: rgb(255, 255, 255) !important;
    }
    .ivu-select-item.ivu-select-item-selected{
      background-color: rgba(0, 136, 204, 0.733);
      color: rgb(247, 247, 247) !important;
    }
    .ivu-select-item:hover{
      background-color: rgba(55, 163, 218, 0.288);
    }
  }
}
.ELine{
  .ivu-select{
    .ivu-select-selected-value{
        font-size: 29px !important;
    }
    .ivu-icon{
      font-size: 29px !important;
    }
    .ivu-select-dropdown{
      top: 60px !important;
      left: 0px !important;
      max-height: 10000px;
      background-color: rgba(46, 73, 87, 0.288);
    }
    .ivu-select-item{
      font-size: 29px !important;
      color: rgb(255, 255, 255) !important;
    }
    .ivu-select-item.ivu-select-item-selected{
      background-color: rgba(0, 136, 204, 0.733);
      color: rgb(247, 247, 247) !important;
    }
    .ivu-select-item:hover{
      background-color: rgba(55, 163, 218, 0.288);
    }
  }
}
.WuhoZhuZT{
  .ivu-select{
    .ivu-select-selected-value{
        font-size: 29px !important;
    }
    .ivu-icon{
      font-size: 29px !important;
    }
    .ivu-select-dropdown{
      top: 60px !important;
      left: 0px !important;
      max-height: 10000px;
      background-color: rgba(46, 73, 87, 0.288);
    }
    .ivu-select-item{
      font-size: 29px !important;
      color: rgb(255, 255, 255) !important;
    }
    .ivu-select-item.ivu-select-item-selected{
      background-color: rgba(0, 136, 204, 0.733);
      color: rgb(247, 247, 247) !important;
    }
    .ivu-select-item:hover{
      background-color: rgba(55, 163, 218, 0.288);
    }
  }
}
.selectData{
  
  .ivu-select{
    .ivu-select-selected-value{
        font-size: 24px !important;
    }
    .ivu-select-placeholder{
      font-size: 24px !important;
    }
    .ivu-icon{
      font-size: 24px !important;
    }
    .ivu-select-dropdown{
      top: 60px !important;
      left: 0px !important;
      max-height: 10000px;
      background-color: rgba(46, 73, 87, 0.288);
    }
    .ivu-select-item{
      font-size: 29px !important;
      color: rgb(255, 255, 255) !important;
    }
    .ivu-select-item.ivu-select-item-selected{
      background-color: rgba(0, 136, 204, 0.733);
      color: rgb(247, 247, 247) !important;
    }
    .ivu-select-item:hover{
      background-color: rgba(55, 163, 218, 0.288);
    }
  }
}
.ivu-timeline-item-tail{
  left: 12px;
  border-left: 5px solid #e8eaec;
}
.ivu-timeline-item-head{
  width: 30px;
  height: 30px;
}
.ivu-timeline-item-content{
  padding: 1px 1px 10px 86px;
}
.WuHoVideoPlayer {
  .SaveBox{
    .InputValue{
      input{
        height: 100% !important;
        width: 100% !important;
        border-radius: 30px !important;
        font-size: 25px !important;
        padding-left: 33px;
        color: #e9e4e4 !important;
      }
    }
  }
}
#popXMQ{
  .poptitle{
    input{
      font-size: 46px !important;
      color: #bbeefe !important;
      font-family: PangmenMainRoadTitleBody !important;
      font-weight: 400;
      height: 100%;
      width: 100%;
    }
  }
  .lineContain{
    textarea{
      font-size: 18px !important;
      color: white !important;
    }
  }
}