html[data-theme="default"] {
    body {
        background-color: #222739;
        color: #cad6dd;
    }
    .navTittle{
        color: #cad6dd;
    }
    .navbarWrap {
        background-color: #ffffff;
        .dropdownMenuWrap {
            background-color: #ffffff;
            .head-nav-name p {
                color: #36a0f3;
            }
        }
        // .navLeft {
        //     .headIcon {
        //         color: #828bac;
        //     }
        //     .headIcon:hover {
        //         background-color: #30364a;
        //     }
        // }
        .navRight {
            color: #85a7f9;
            ul {
                background-color: #fff;
                font-size: 12px;
                li:hover {
                    background-color: rgba(130, 139, 171, 0.2);
                }
            }
            li > a,
            i:hover {
                cursor: pointer;
                background-color: #f5f9fe;
            }
            .msgPop {
                background-color: #fff;
                border: 1px solid #ebedf1;
                .title { 
                    .us-link{
                        color: #436bf6;
                        cursor: pointer;
                    }
                    .us-link:hover{
                        color: #5b8bff;   
                    }
                }
            }
        }
    }
    .ivu-card-body div{
        color: #393b3b;
    }
    .ivu-modal-content .ivu-modal-header .modal-title{
        color: #c5c5c5;
    }
    .ivu-select .ivu-select-selection {
        color: #cad6dd;
    }
    .ivu-tabs .ivu-tabs-bar {
        border-bottom: solid 1px #ebedf1;
    }
    .us-border-bottom {
        border-bottom: 1px solid #ebedf1;
    }
    .ivu-modal-header-inner{
        color: #50607c;
    }
    .ivu-modal .ivu-btn.ivu-btn-default {
        background-color: #08c;
        color: #cad6dd;
        border: none;
        padding: 5px 10px;
        min-width: 60px;
        height: 28px;
        line-height: 18px;
        font-size: 12px;
        box-shadow: none;
        border-radius: 3px;
    }
    .ivu-select-dropdown{
        .ivu-select-item{
            color: #cad6dd;
        }
        .ivu-dropdown-item{
            color: #c1c3c7;
        }
        .ivu-dropdown-item:hover{
            background-color: #08c;
            color: white;
        }
        color: #cad6dd;
        list-style: none;
        background-color: #0a0e1a;
        font-size: 12px !important;
    }
    .ivu-select-item:hover {
        background-color: #08c;
        color: #fff;
    }    
    .ivu-modal .ivu-btn.ivu-btn-default:hover {
        background-color: #02699c;
        color: #cad6dd;
        border: none;
    }
    .ivu-btn.ivu-btn-default[cancel] {
        background-color: #666f8b;
    }
    .ivu-btn.ivu-btn-default[cancel]:hover {
        background-color: #5e667e;
        border: none;
    }
    .ivu-btn + .ivu-btn {
        margin-left: 10px;
    }
    .showImg .uploadCover i{
        color: #cad6dd !important;
    }
    .ivu-form-item{
        color: #cad6dd;
    }
    .ivu-modal-body{
        color: #50607c;
    }
    .us-border-bottom {
        border-bottom: 1px solid #ebedf1;
    }
    .ivu-form .ivu-form-item .ivu-form-item-label {
        color: #3e4554
    }
    .ivu-modal-wrap .ivu-modal .ivu-modal-content {
        background: #fff;
        .ivu-modal-header {
            box-shadow: 0px 0px 20px 0px #0000001a;
            background: #ebedf1;
        }
    }
    .ivu-btn-text {
        background-color: #fff;
        border: solid 1px #026bf4;
        color: #026bf4 !important;
    }
    .ivu-btn-text:hover {
        background-color: #ebedf1;
        border: solid 1px #026bf4;
        color: #026bf4 !important;
    }
    .ivu-btn-primary {
        color: #fff;
    }
    .ivu-btn-primary:hover {
        color: #fff;
        background-color: #0253f5 !important;
        border: none !important;
    }
    .content{
        .room-list{
            background: #fff;
            border: 1px solid #ebedf1;
            color: #444242;
            .ivu-btn-default{
                background-color: #fff;
                color: #026bf4;
                border: 1px solid #026bf4;
            }
            .ivu-tooltip-rel{
                color: #3e4554;
            }
            .choose{
                span{
                    color: #026bf4
                }
            }

        }
        .treeView{
            .treeTable{
                border: 1px solid #6967677a;
            }
        }
    }
    .ivu-table {
        color: #50607c;
        background-color: transparent;
        tr{
            border-bottom: 1px solid #6967677a;
        }
        th{
            background-color: transparent;
            border-bottom: 1px solid #6967677a;
        }
        td{
            background-color: transparent;
            border-bottom: 1px solid #6967677a;
        }
        tr:last-child td{
            border-bottom: 1px solid transparent;
        }
    }
    .form-title {
        color: #262626;
        width: 100%;
        font-size: 14px;
        line-height: 14px;
        margin-bottom: 20px;
    }
    .form-title:before{
        background-color: #426bf5;
        font-size: 10px;
        vertical-align: middle;
        display: inline-block;
        width: 2px;
        height: 14px;
        line-height: 14px;
        content: ""!important;
        margin-right: 4px;
        box-sizing: border-box;
    }
    .user-info>div{
        flex: 2;
    }
    .user-info> .ivu-form-item {
        flex: 1;
    }
    .form-percent2 .ivu-form-item{
        width: 49%;
        display: inline-block;
        margin-bottom: 20px;
        vertical-align: top;
        zoom: 1;
    }
    .form-percent3 .ivu-form-item{
        width: 32%;
        display: inline-block;
        margin-bottom: 20px;
        vertical-align: top;
        zoom: 1;
    }
    .userInfoBox .ivu-input-wrapper .ivu-input[disabled]{
        background-color: #f1f1f1 !important;
    }
    .userInfoBox .ivu-input-wrapper .ivu-input{
        border-color: #c9ccd6 !important;
        border-radius: 4px;
        width: 150px;
    }
    .percent1{
        width: 100% !important;
    }
    .ivu-form .ivu-form-item-label{
        font-size: 12px;
        height: 28px;
        line-height: 28px;
        padding: 0;
    }
    .ivu-form .ivu-form-item-content{
        padding-left: 8px;
        font-size: 12px;
        line-height: 28px;
    }
    .md-sm .ivu-modal {
      width: 580px !important;
      min-height: 200px;
      max-height: 400px;
      .ivu-form-item-label{
        width: 120px;
      }
      .ivu-form-item-content{
        margin-left: 120px;
      }
    }

    .toolbar{
        background-color: #1c2132;
        color: #cad6dd;
        box-shadow: 0px 0px 8px 1px #4b4a4a;
    }
    .main-content .right-content{
        background-color: #33394b;
    }
    .model-content{
        box-shadow: -1px 0px 5px #656363;
    }
    #model-info .model-content .title{
        background-color: #222739;
    }
    .toolbar .right .shortcuts{
        background-color: #33394b;
        border: 1px solid #222739;
    }
    .ivu-collapse{
        background-color: transparent;
    }
    .model-library{
        border-top: 1px solid #6f6b6b;
    }
    .ivu-collapse > .ivu-collapse-item{
        border-top: 1px solid #6f6b6b;
    }
    .model-content .list-type{
        background-color: #222739;
    }
    .ivu-collapse-content{
        background-color: #33394b;
        color: #cad6dd;
    }
    .refer-switch{
        color: #131212;
    }
    .ivu-collapse>.ivu-collapse-item>.ivu-collapse-header{
        color: #cad6dd;
    }
    .ivu-input{
        color: #cad6dd;
    }
    .input-item{
        color: #cad6dd;
    }
    .position-card{
        background-color: #222739;
    }
    .model-library .model-type .model-item{
        background-color: #222739;
    }
    .tool-list{
        background-color: #222739;
    }
    .handel{
        background-color: #919196;
    }
    .tool-list div.active{
        background-color: #33394b;
    }
    .left-tools{
        background-color: #33394b;
        .screen-box{
            background-color: #33394b;
        }
    }
    .switchBtn .visibility-switch{
        background-color: #33394b;
    }
    .switchBtn .foucs-btn{
        background-color: #33394b;
    }
    .backBtn .roomName{
        background-color: #33394b;
    }
    .backBtn .back-btn{
        background-color: #33394b;
    }
    .left-tools .show-monitoring{
        background-color: #33394b;
    }
    .left-tools .show-search{
        background-color: #33394b;
    }
    .left-tools .show-changefloor{
        background-color: #33394b;
    }
    .left-tools .show-equipment{
        background-color: #33394b;
    }
    .left-tools .show-changefloor .active{
        background-color: #222739;
    }
    .left-tools .show-monitoring .active{
        background-color: #222739;
    }
    .toolbar .icons .environments{
        background-color: #222739;
    }
    .toolbar .icons .environments .bgItem:hover{
        background-color: #33394b;
    }
    .input-item .imgBg{
        background-color: #33394b;
    }
    
    .ivu-input[disabled], fieldset[disabled] .ivu-input,
    .ivu-select-disabled .ivu-select-selection,
    .ivu-select-input[disabled] {
        background-color: transparent;
    }
    .ivu-select-selection{
        border: 1px solid #3d445a !important;
    }
}

html[data-theme="blackWhite"] {
    body {
        background-color: #f8f8f8;
        color: #50607c;
    }
    .navbarWrap {
        background-color: #fff;
        .dropdownMenuWrap {
            background-color: #fff;
            .head-nav-name p {
                color: #436bf6;
            }
        }
        .navRight {
            color: #85a7f9;
            ul {
                background-color: #fff;
                font-size: 12px;
                li:hover {
                    background-color: rgba(130, 139, 171, 0.2);
                }
            }
            li > a,
            i:hover {
                cursor: pointer;
                background-color: #f5f9fe;
            }
            .msgPop {
                background-color: #fff;
                border: 1px solid #ebedf1;
                .title { 
                    .us-link{
                        color: #436bf6;
                        cursor: pointer;
                    }
                    .us-link:hover{
                        color: #5b8bff;   
                    }
                }
            }
        }
    }
    .ivu-modal-content .ivu-modal-header .modal-title{
        color: #515154;
    }
    .theme-blackWhite .ivu-tabs .ivu-tabs-bar {
        border-bottom: solid 1px #ebedf1;
    }
    .ivu-select .ivu-select-selection {
        color: #50607c;
        background-color: #fff;
    }
    .ivu-modal-header-inner{
        color: #50607c;
    }
    .showImg .uploadCover i{
        color: #fff !important;
    }
    .ivu-form-item{
        color: #50607c;
    }
    .ivu-modal .ivu-btn.ivu-btn-default {
        background-color: #fff;
        color: #026bf4;
        border: solid 1px #026bf4;
        padding: 5px 10px;
        min-width: 60px;
        height: 28px;
        line-height: 18px;
        font-size: 12px;
        box-shadow: none;
        border-radius: 3px;
    }
    .ivu-select-dropdown{
        .ivu-select-item{
            color: #50607c;
        }
        .ivu-dropdown-item{
            color: #4d4f54;
        }
        .ivu-dropdown-item:hover{
            background-color: #08c;
            color: #fff;
        }
        color: #50607c;
        background-color: #fff;
        list-style: none;
        font-size: 12px !important;
    }
    .ivu-select-item:hover {
        background-color: #08c;
        color: #fff;
    }
    .ivu-modal .ivu-btn.ivu-btn-default:hover {
        background-color: #ebedf17c;
        color: #026bf4;
        border: solid 1px #026bf4;
    }
    .ivu-btn.ivu-btn-default[cancel] {
        background-color: #fff;
    }
    .ivu-btn.ivu-btn-default[cancel]:hover {
        background-color: #ebedf1;
        border: solid 1px #026bf4;
    }
    .ivu-btn + .ivu-btn {
        margin-left: 10px;
    }
    .ivu-modal-body{
        color: #50607c;
    }
    .us-border-bottom {
        border-bottom: 1px solid #ebedf1;
    }
    .ivu-form .ivu-form-item .ivu-form-item-label {
        color: #3e4554
    }
    .ivu-modal-wrap .ivu-modal .ivu-modal-content {
        background: #fff;
        .ivu-modal-header {
            box-shadow: 0px 0px 20px 0px #0000001a;
            background: #ebedf1;
        }
    }
    .ivu-btn-text {
        background-color: #fff;
        border: solid 1px #026bf4;
        color: #026bf4 !important;
    }
    .ivu-btn-text:hover {
        background-color: #ebedf1;
        border: solid 1px #026bf4;
        color: #026bf4 !important;
    }
    .ivu-btn-primary {
        color: #fff;
    }
    .ivu-btn-primary:hover {
        color: #fff;
        background-color: #0253f5 !important;
        border: none !important;
    }
    .content{
        .room-list{
            background: #fff;
            border: 1px solid #ebedf1;
            color: #444242;
            .ivu-btn-default{
                background-color: #fff;
                color: #026bf4;
                border: 1px solid #026bf4;
            }
            .ivu-tooltip-rel{
                color: #3e4554;
            }
            .choose{
                span{
                    color: #026bf4
                }
            }

        }
        .treeView{
            .treeTable{
                border: 1px solid #6967677a;
            }
        }
    }
    .ivu-table {
        color: #50607c;
        background-color: transparent;
        tr{
            border-bottom: 1px solid #6967677a;
        }
        th{
            background-color: transparent;
            border-bottom: 1px solid #6967677a;
        }
        td{
            background-color: transparent;
            border-bottom: 1px solid #6967677a;
        }
        tr:last-child td{
            border-bottom: 1px solid transparent;
        }
    }
    .form-title {
        color: #262626;
        width: 100%;
        font-size: 14px;
        line-height: 14px;
        margin-bottom: 20px;
    }
    .form-title:before{
        background-color: #426bf5;
        font-size: 10px;
        vertical-align: middle;
        display: inline-block;
        width: 2px;
        height: 14px;
        line-height: 14px;
        content: ""!important;
        margin-right: 4px;
        box-sizing: border-box;
    }
    .user-info>div{
        flex: 2;
    }
    .user-info> .ivu-form-item {
        flex: 1;
    }
    .form-percent2 .ivu-form-item{
        width: 49%;
        display: inline-block;
        margin-bottom: 20px;
        vertical-align: top;
        zoom: 1;
    }
    .form-percent3 .ivu-form-item{
        width: 32%;
        display: inline-block;
        margin-bottom: 20px;
        vertical-align: top;
        zoom: 1;
    }
    .userInfoBox .ivu-input-wrapper .ivu-input[disabled]{
        background-color: #f1f1f1 !important;
    }
    .userInfoBox .ivu-input-wrapper .ivu-input{
        border-color: #c9ccd6 !important;
        border-radius: 4px;
        width: 150px;
    }
    .percent1{
        width: 100% !important;
    }
    .ivu-form .ivu-form-item-label{
        font-size: 12px;
        height: 28px;
        line-height: 28px;
        padding: 0;
    }
    .ivu-form .ivu-form-item-content{
        padding-left: 8px;
        font-size: 12px;
        line-height: 28px;
    }
    .md-sm .ivu-modal {
      width: 580px !important;
      min-height: 200px;
      max-height: 400px;
      .ivu-form-item-label{
        width: 120px;
      }
      .ivu-form-item-content{
        margin-left: 120px;
      }
    }
}

html[data-theme="blueWhite"] {
    body {
        background-color: #f8f8f8;
        color: #50607c;
    }
    .navbarWrap {
        background-color: #fff;
        .dropdownMenuWrap {
            background-color: #fff;
            .head-nav-name p {
                color: #298dff;
            }
        }
        .navLeft {
            background-color: #407cc0;
            .headIcon {
                color: #dae0e7;
            }
            .headIcon:hover {
                background-color: #2f619a;
            }
        }
        .navRight {
            ul {
                background-color: #fff;
                font-size: 12px;
                color: #50607c;
                li:hover {
                    background-color: rgba(130, 139, 171, 0.2);
                }
            }
            li > a,
            i:hover {
                cursor: pointer;
                background-color: rgba(130, 139, 171, 0.2);
                color: #60abff;
            }
            .msgPop {
                background-color: #fff;
                border: 1px solid #ebedf1;
            }
        }
    }
    .ivu-modal-content .ivu-modal-header .modal-title{
        color: #515154;
    }
    .theme-blackWhite .ivu-tabs .ivu-tabs-bar {
        border-bottom: solid 1px #ebedf1;
    }
    .ivu-modal-header-inner{
        color: #50607c;
    }
    .ivu-select .ivu-select-selection {
        color: #50607c;
        border: solid 1px #adb9ca;
        background-color: #fff;
    }
    .showImg .uploadCover i{
        color: #fff !important;
    }
    .ivu-select-dropdown{
        .ivu-select-item{
            color: #50607c;
        }
        .ivu-dropdown-item{
            color: #4d4f54;
        }
        .ivu-dropdown-item:hover{
            background-color: #08c;
            color: white;
        }
        color: #50607c;
        background-color: #fff;
        list-style: none;
        font-size: 12px !important;
    }
    .ivu-select-item:hover {
        background-color: #08c;
        color: #fff;
    }
    .ivu-form-item{
        color: #50607c;
    }
    .ivu-modal-body{
        color: #50607c;
    }
    .ivu-modal .ivu-btn.ivu-btn-default {
        background-color: #fff;
        color: #026bf4;
        border: solid 1px #026bf4;
        padding: 5px 10px;
        min-width: 60px;
        height: 28px;
        line-height: 18px;
        font-size: 12px;
        box-shadow: none;
        border-radius: 3px;
    }
    .ivu-modal .ivu-btn.ivu-btn-default:hover {
        background-color: #ebedf17c;
        color: #026bf4;
        border: solid 1px #026bf4;
    }
    .ivu-btn.ivu-btn-default[cancel] {
        background-color: #fff;
    }
    .ivu-btn.ivu-btn-default[cancel]:hover {
        background-color: #ebedf1;
        border: solid 1px #026bf4;
    }
    .us-border-bottom {
        border-bottom: 1px solid #ebedf1;
    }
    .ivu-form .ivu-form-item .ivu-form-item-label {
        color: #3e4554
    }
    .ivu-modal-wrap .ivu-modal .ivu-modal-content {
        background: #fff;
        .ivu-modal-header {
            box-shadow: 0px 0px 20px 0px #0000001a;
            background: #ebedf1;
        }
    }
    .ivu-btn-text {
        background-color: #fff;
        border: solid 1px #026bf4;
        color: #026bf4 !important;
    }
    .ivu-btn-text:hover {
        background-color: #ebedf1;
        border: solid 1px #026bf4;
        color: #026bf4 !important;
    }
    .ivu-btn-primary {
        color: #fff;
    }
    .ivu-btn-primary:hover {
        color: #fff;
        background-color: #0253f5 !important;
        border: none !important;
    }
    .left-menu{
        background-color: #0d111f;
        .ivu-menu-dark{
            background-color: #407cc0;
            color: #ffffff;
            .ivu-menu-item-active{
                background-color: #f6f7fb !important;
                color: #60abff ;
            } 
        }
        .ivu-menu-dark a:not(.ivu-menu-item-active):hover{
            background: #64abde !important;
        }
    }
    .content{
        .room-list{
            background: #fff;
            border: 1px solid #eaeaea;
            color: #444242;
            .ivu-btn-default{
                background-color: #fff;
                color: #026bf4;
                border: 1px solid #026bf4;
            }
            .ivu-tooltip-rel{
                color: #3e4554;
            }
            .choose{
                span{
                    color: #026bf4
                }
            }
        }
        .treeView{
            .treeTable{
                border: 1px solid #6967677a;
            }
        }
    }
    .ivu-table {
        color: #50607c;
        background-color: transparent;
        tr{
            border-bottom: 1px solid #6967677a;
        }
        th{
            background-color: transparent;
            border-bottom: 1px solid #6967677a;
        }
        td{
            background-color: transparent;
            border-bottom: 1px solid #6967677a;
        }
        tr:last-child td{
            border-bottom: 1px solid transparent;
        }
    }
}
