.notClick{
    color: #625e5e;
    pointer-events: none;
}

/*topo左侧导航栏*/
#network_attention{
    height: 100%;
} 
#tp-tree-wrap{
    position: absolute;
    width: 160px;
    height: calc(100% - 60px);
    z-index: 2;
    left: 15px;
    margin-top: 29px;
    background: rgba(0,0,0,0.3);
    display: block;
}

#tp-tree-wrap.close-tree{
    display: none;
}

#tp-tree-wrap.tplink .add-tree-btn,#tp-tree-wrap.tplink .total { /* 链路管理*/
    display:none;
}


.topotreeHeight{
    height: calc(100% - 30px);
}

.closetree{
     width: 40px !important;
}
.nomsg{
	margin: 1%;
}
.nodata{
	font-size: 133px;
}

/* 对拓扑模块单独处理 */
body.showtopo .page-container .page-sidebar-wrapper {
   display: none !important;
}
/*
body.showtopo .margin-left-150{
    padding:0;
}
*/

.boxLeft{
    margin-left: 0px !important;
}
/*  */
.nodataIcon{
   margin-top: 13%;
}
.noprompt{
	font-size: 16px;
    display: block;
}

#topotree{
    border-right: none;
    position: relative;
    padding: 0px !important;
}

#topotree.ztree li,.add-tree-wrap {
    line-height: 30px;
    position:relative;
    padding: 0px;
}

#topotree.ztree li:hover .config-btn{
    display:block;
    cursor:pointer;
}
#tp-tree-wrap .add-tree-wrap span {
    margin-left: 15px;
    font-weight: bold;
}

.tree-open-btn{
    height: 30px;
    line-height: 26px;
    background-color: rgb(20, 21, 36);
    text-align: center;
    width: 160px;
    position: absolute;
    top: 15px;
    padding-top: 3px;
    left: 15px;
    z-index:2;
    color: #0088cc;
    font-weight: bold;
}

#tp-tree-wrap .add-tree-btn{
   position: absolute;
    right: 12px;
    top: 8px;
}

#tp-tree-wrap .config-btn{
   /* float:right;*/
    position: absolute;
    right: 0;
    margin-top:-21px;
    display:none;
    color: #a7c5e1; 
    font-size: 14px; 
}

.setBox {
    position: fixed;
    /*left: 140px;*/
    left: 336px;
    background-color:#262f34;
    width: 80px;
    text-align: center;
    display:none;
    box-shadow: 4px 4px 12px rgba(17,33,50, 0.5);
}

.setBox li {
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    color: #fff;
    background-color: #24374b;
}

.setBox li:hover {
    background-color: #112132;
}


#network_topo_wrap {
    text-align:center; 
    position: absolute;
    width:calc(100% - 30px);
    top: 15px;
    bottom: 15px;
    left: 15px;
    user-select:none;
    -ms-user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
}

.topo-tree-body {
    /*width:150px;*/
    width: 160px;
    display:none;
    height: 100%;
    display:inline-block;
    border-bottom: 1px solid rgba(255,255,255,0.06);
    background:#1c2132;
}

.total .ztree li span {
    margin-left:12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    max-width: 90px;
}
.total .ztree li ul li span {
    margin-left:16px;
    max-width: 84px;
}
.total .ztree li ul li ul li span {
    margin-left:20px;
    max-width: 76px;
}
.total .ztree li ul li ul li ul li span  {
    margin-left:25px;
    max-width: 70px;
}
.total .ztree li ul li ul li ul li ul li span {
    margin-left:30px;
    max-width: 65px;
}
#topotree a{
    text-decoration: none;
    border-bottom: 1px solid rgba(255,255,255,0.06);
}

#topotree li>span.switch.button {
    display: none;
}

.ztree a {
    height: 30px !important;
    padding:0;
    width:100%;
    position: relative;
}

.ztree li ul a{
    width: 100%;
    height: 30px;
}
.ztree li ul{
    padding:0;   
}

.ztree ul span {
    line-height: 30px;
}
.addTree{
    position: absolute;
    top: 50%;
    font-size: 30px;
}
.ztree>li>i{
    margin-top: 8px;
    font-weight: bold; 
}

#topotree li a.clickNode:before,/*#networkLinkManager.clickNode:before,*/#tp-tree-wrap .add-tree-wrap.clickNode:before {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    width: 5px;
    height: 30px;
    left: 0px;
    background-color: #0088cc;
}

/********************拓扑********************************/
#networkTopo {
    width: 100%;
    height:100%;
    position: relative;
    overflow: hidden; /* scroll */
}

#networkTopo #test.noshowUse use[href="#liquid"]{
    display:none;
}

.empty-span {
    position: absolute;
    width: 100%;
    text-align: center;
    height: 30px;
    line-height: 30px;
    left: 0;
    top: calc(54% - 0px);
}

#topochange .portlet-body {
    padding: 0;
}

.thumbnailbox {
    width: 100%;
}

.boutlun {
    position: absolute;
    right: 200px;
    top: 10px;
}

.formtitle {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
}

#networkTopo .zoom-background{
    cursor:move; 
}

.cursorMove{
    cursor:move;
}
.cursorAuto{
     cursor: auto;
}
.cursorPoniter{
    cursor: pointer;
}

.link {
    stroke-linejoin: bevel;
    fill: none; 
    cursor: pointer;
    stroke:#fff;
    pointer-events: stroke;
}

.link:hover{
    stroke-width:8px;
}

.link.Enable{   /* 正常 */
    stroke:#2aff00;
}

.link.Unkown{/*未知*/
	stroke:#5f5f5f;
}

.link.Alert{
    stroke:#f3c200;
}

.link.Disconnect{
    stroke:#FF0000;
}

.link.Cancelmonitor{
    stroke:#999999;
}
.link.Unconnection{
     stroke:red;
}

path.link.selected{
    stroke-width:8px;
}

path.link.dragline {
    pointer-events: none;
    stroke:#fff;
    fill:#fff;
}

path.link.hidden {
    stroke-width: 0;
}

.link_error {
    stroke: red;
    stroke-linejoin: bevel;
    stroke-width: 1px;
    fill: none;
}

.pathText {
    font-size:14px;
    text-anchor:middle;
    fill: rgb(20, 169, 236);
}

.nodetext {
    -webkit-user-select: none;
    -moze-user-select: none;
    stroke-linejoin: bevel;
    font-family: "微软雅黑", Verdana, Geneva, sans-serif;
}

.node{
    cursor: pointer;
}

.nodeRect {
    fill: rgba(211, 211, 211, 0);
}

.node:hover .nodeRect,.node.selected .nodeRect{
    fill: rgba(211, 211, 211, 0.15);
}

.regionWrap{
    cursor:crosshair;
}

.marqueeRect{
    fill:rgba(89, 101, 122, 0.2);
}

.tp-tip{
    position:fixed;
    background:#000;
    z-index:9999;
    pointer-events: none;
    text-align:left;
    padding:4px;
   white-space: pre-line;
}


/*****************************拓扑绘图工具***********************************/
#topoTool{
    position: absolute;
   /*  right: 20px;
    top: 15px; */
    right:0;
    top:0;
    height: 30px;
    padding:3px 5px;
    background: rgb(20, 21, 36);
    z-index:1;
    cursor:pointer;
    border-radius: 4px !important;
}

#topoTool [class^="icon-n"]{
    font-size:14px;
    color:#d3d3d3;
}

#topoTool .tl-gap,#topoTool.tl-closed [data-tlclick="tlClose"]{
    display: block;
}
#topoTool [data-tlclick="tlOpen"]{
    display: none;
}

#topoTool.tl-closed .tl-gap,#topoTool.tl-closed [data-tlclick="tlClose"]{
    display:none;
}

#topoTool.tl-closed [data-tlclick="tlOpen"]{
    display:block;
}

#topoTool .tl-gap{
    height:100%;
    float:left;
    border-right:1px solid rgba(255,255,255,0.1);
    padding:0 8px;
    position:relative;
}
#topoTool #tl-line{
    padding-left:0;
    border-left: 1px solid rgba(255,255,255,0.1);
}

#topoTool #tl-operation{
    border:none;
}

.tl-btn.active,.tl-btn.active:hover,.sub-tl [data-val].active,.sub-tl [data-val].active:hover{
    background:rgba(255,255,255,0.3);
}

.tl-btn {
    height: 24px;
    width: 30px;
    position: relative;
    line-height:24px;
    float:left;
}

.sub-tl {
    position: absolute;
    top: 36px;
    background: rgb(13, 14, 18);
    padding: 4px;
    display:none;
    border-radius: 3px !important;
}

.sub-tl:before{
    width: 0px;
    height: 0px;
    content: '';
    position: absolute;
    border-width: 0 6px 6px;
    border-style: solid;
    border-color: transparent transparent rgb(13, 14, 18);
    top: -6px;
    left: calc(50% - 6px);
}

.sub-tl li{
    text-align:left;
    min-width:26px;
    height:22px;
    line-height:22px;
    padding:0 6px;
}

.sub-tl.lineType{
    left:26px;   
}

.sub-tl.lineStroke{
    left:52px;   
}

.sub-tl.strokeDash,.sub-tl.layout{
    right:0;
}

.sub-tl.fontSize{
    left:28px;
}

.sub-tl.addRg{
    left: 6px;
}

.sub-tl.alignment{
    width: 76px;
    left: -13px;
}

#topoTool #colorWrap .sp-replacer{
    visibility: hidden;
    position: absolute;
    left: 0;
    height: 24px;
}

#topoTool .icon-n-delete{
    color: #D5E8F7;
}

.tl-btn[data-name]:after{
    position: absolute;
    content: "";
    bottom: 2px;
    right: 2px;
    width: 0;
    height: 0;
    border-width: 0 0 4px 4px;
    border-style: solid;
    border-color: transparent transparent #d3d3d3  transparent;
}

#topoTool .sp-replacer,#topoTool .sp-replacer:hover{
    color:transparent;
    padding:0;
    background:none;
    border:none;
}

/* 全屏 */
body.tpFull .page-header,body.tpFull #tp-tree-wrap,body.tpFull .topozoom,body.tpFull #moreTools{
    display:none !important;
}

body.tpFull #topoTool div,body.tpFull .topoSearch{
    display:none;
}

body.tpFull #topoTool div[data-tlclick="fullScreen"],body.tpFull #topoTool div#tl-operation{
    display:block;
}
body.tpFull #network_topo_wrap{
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
}

body.tpFull #topoTool{
    top:26px;
    right:8px;
}

/*****************************拓扑设置工具***********************************/
#topoOptTools{
    position: absolute;
    font-weight: bold;
    right: 14px;
    bottom: 10px;
    width: 42px;
    background: #1d7394;;
    z-index: 1;
    border-radius: 69px !important;
    padding: 11px 0;
    height: 42px;
}
#tpoptTools{
	position: absolute;
    right: 0;
    bottom: 53px;
    width: 73px;
    background: #24374b;;
    z-index: 1;
    padding: 11px 0;
    cursor: pointer;
}
#tpoptTools .tl-opt-btn{
    display: block;
    height: 24px;
    line-height: 24px;
}
.tpoptTools{
	display:none;
}
.tpshow{
	 display: block;
}
#tpoptTools .tl-opt-btn:hover,.tl-select-wrap:hover,.tl-btn:hover,ul.sub-tl li:hover{
    background:rgba(72, 57, 92, 0.5);
}

/*****************************拓扑区域工具***********************************/
.rg-inp {
    z-index: 999;
    width: 200px;
    height:78px !important;
    position: fixed;
    background: rgba(36,34,34) !important;
}

.rgPoint,.linePoint {
    fill: rgb(255, 255, 255);
    stroke: #0088cc;
    stroke-width: 1;
}

.lineWrap{
    display:none;
}

.ployN .linePoint{
    cursor: n-resize;
}

.ployZ .linePoint{
    cursor: w-resize;
}

.regionDragRect {
    width: 100%;
    height: 100%;
    fill: transparent;
}

.rgPoint.rgP0,.rgPoint.rgP2{  /* 左上 */
    cursor: nw-resize;
}

.rgPoint.rgP1,.rgPoint.rgP3{  /* 右上 */
    cursor: ne-resize;
}

g#region .rgPoint{
    visibility: hidden;
}

g#region .selected .rgPoint{
   visibility: visible;
}

text.rgText{
  white-space: pre;
}

text.rgText:hover,text.rgText.selected{
  text-decoration: underline;  
}

/*****************************拓扑搜索***********************************/
.topoSearch{
   position: absolute;
    left: 180px;
   width:230px !important;
}

.close-tree .topoSearch{
    left: 50px;
}

input.rg-searchInp {
    width:200px;
    z-index: 999;
    background-color: rgb(35, 39, 57) !important;
}

.input-group-addon{
     background: rgba(0,0,0,0.3);
}
.rg-search {
    color: #D5E8F7;
    margin-left: 0px;
    border-radius: 2px !important;
    /*background: rgba(0,0,0,0.3);*/
}

.tp_searchList {
    left: 30px;
    top: 30px;
    width: 270px;
    background: #0a0e1a;
    color: #fff;
    text-align: left;
    overflow: hidden;
    max-height: 210px;
    overflow: auto;
}

.topoSearch .rg-search{
	margin-left: -19px;
    color: #b1b4bf;
}

.tp_allRes{
    font-size:13px;
    height: 22px;
    cursor: pointer;
    color: #fff;
    line-height: 22px;
    padding: 0 4px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.tp_allRes:hover {
    background: #112132;
}

#networkTopo .confData {
    width: 270px !important;
    height: 120px !important;
    overflow: auto;
    white-space:  pre;
    border: 1px solid #3d445a;
    text-align: left;
    color: #cad6dd;
}
