.DS_Store
node_modules/
/dist/
/static/地图瓦片/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
# package-lock.json

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
