#mainEdit-edit {
  /* position: fixed; */
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: -4px;
  /* z-index: 10052 !important;*/
  .edit-content{
    height: 100%;
  }
  .edit-header {
    /* height: 50px; */
    height: 38px;
    border-bottom: 1px solid #383f54;
  }
  .edit-header .simoLink {
    line-height: 36px;
    font-size: 14px;
    margin-right: 15px;
  }
  .edit-title {
    line-height: 36px;
    text-indent: 10px;
    font-size: 14px;
    background: #1b2031;
  }
  .edit-body {
    padding: 0;
    overflow: hidden;
    height: calc(100% - 38px);
  }
}