server:
  port: 11100 
  tomcat: 
    uri-encoding: UTF-8
security:
  oauth2:
    resource:
      userInfoUri: BUGFIX

banner: 
  charset: UTF-8

spring:
#log mode ,in development enviroument set to 'dev' and set to 'prod' in production environment
  profiles:
    active: dev
  application: 
    name: leaderview 
  redis: 
    host: 127.0.0.1
    port: 6379
    password: uxsino@2016
  servlet:
    multipart:
      enabled: true
      max-file-size: 120MB
      max-request-size: 120MB
  http:
    encoding:
      charset: UTF-8
      enabled: true 
      force: true
  messages:
    encoding: UTF-8
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    url: jdbc:uxdb://localhost:5432/simo_dev
    username: uxsino
    password: Uxs!nO10
    driverClassName: com.uxsino.uxdb.Driver
    initialSize: 5
    minIdle: 5
    maxActive: 20
    maxWait: 60000
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 300000
    validationQuery: SELECT 1
    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false
    poolPreparedStatements: true
    maxPoolPreparedStatementPerConnectionSize: 20
    filters: stat
    connectionProperties: 
      druid: 
        stat: 
          mergeSql: true;
          slowSqlMillis: 5000
    useGlobalDataSourceStat: true
  jpa: 
    database: DEFAULT
    show-sql: false
    generate-ddl: true   
    hibernate: 
      naming_strategy: org.hibernate.cfg.ImprovedNamingStrategy  
    database-platform: com.uxsino.uxdb.UXDBDialect
    properties: 
      hibernate: 
        hbm2ddl: 
          auto: update

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:10086/eureka/
  instance:
    ip-address: 127.0.0.1
    hostname: 127.0.0.1
    prefer-ip-address: true
feign:
  hystrix:
    enabled: true
simo:
  druid:
#druid state user
    username: admin
#druid state user password
    password: Admin123
#druid state open
    open: true
#druid state whitelist  eg: 127.0.0.1,192.168.1.1
    allow: 127.0.0.1
  mq:
    broker: 
      url: failover:tcp://localhost:61616
  leaderview:
    templateInit: false

heartbeat:
    send_interval: 20000

datasource: 
  source: 

web:
  upload:
    file:
      path: simo_file

service-mc: mc
service-useradmin: useradmin
service-workflow: workflow
service-alert: alert
service-monitoring: monitoring
service-patrol: patrol
service-report: report
service-cmdb: cmdb
service-business: business
service-knowledgebase: knowledgebase
service-msg: msg
service-leaderview: leaderview