<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        var arr = [2,3,5,4,8,9,6,4,7,5,1]
        function quick(arr){
            if(arr.length<=1){
                return arr
            }
            var centerIndex = Math.floor(arr.length/2)
            var centerValue = arr.splice(centerIndex,1)[0]
            var letarry = []
            var rightarry = []
            arr.forEach(d => {
                if(d<centerValue){
                    letarry.push(d)
                }else{
                    rightarry.push(d)
                }
            });
            return quick(letarry).concat([centerValue],quick(rightarry))
        }
        console.log(quick(arr))

        var arr = [2,3,5,4,8,9,6,4,7,5,1]
        function maopao(arr){
            for(var i=0;i<arr.length-1;i++){
                for(var j=i+1;j<arr.length;j++){
                    if(arr[i]>arr[j]){
                        let data = arr[i]
                        arr[i] = arr[j]
                        arr[j] = data
                    }
                }
            }
            return arr
        }
        console.log(maopao(arr))


        function kind(type){
            this.type = type
            this.saytype = ()=>{
                console.log(this.type)
            }
        }

        function food(type,name){
            kind.call(this,type)
            this.name = name
            this.sayAll = ()=>{
                console.log(this.name+'是'+this.type)
            }
        }

        food.prototype = new kind('食物')
        food.prototype.constructor = food

        var egg = new food('食物','鸡蛋')
        egg.saytype()
        egg.sayAll()


        




    </script>
</body>
</html>